/* Installing icon
   ========================================================================== */
/**
*  Use it in HTML as
*  <div class='icon-installing md-18'></div>
*  add md-18, md-24, md-36 or md-48 class for sizes
*
*  the default icon size is 24px. Divided by 3 squares: 8px minus 2px padding between blocks = 6px
*/
// sass-lint:disable variable-for-property

/* Variables */
$sb-gray-900: #686565; //rgb(104, 101, 101);
$icon-installing-bg: $sb-gray-900;
// 18px
$icon-size-18: md-18;
$icon-installing-block-18: 4px;
$icon-installing-margin-18: 7px;
$icon-installing-padding-18: 6px;
$icon-installing-padding-negative-18: -6px;
// 24px
$icon-installing-block: 6px;
$icon-installing-margin: 9px;
$icon-installing-padding: 8px;
$icon-installing-padding-negative: -8px;
// 36px
$icon-size-36: md-36;
$icon-installing-block-36: 9px;
$icon-installing-margin-36: 13px;
$icon-installing-padding-36: 12px;
$icon-installing-padding-negative-36: -12px;
// 48px
$icon-size-48: md-48;
$icon-installing-block-48: 12px;
$icon-installing-margin-48: 18px;
$icon-installing-padding-48: 16px;
$icon-installing-padding-negative-48: -16px;

/**
 * This mixin generates keyframes for each or the icon's rows with squares
 * $icon-size - generates custom keyframes (@keyframes installing_animation_bottom_md-18...)
 * $icon-padding - each $icon-size has its own padding..
 * $icon-padding-negative - and its corresponding negative padding
 * $icon-installing-bg - global color var
*/
@mixin installing-animate-bottom($icon-size, $icon-padding, $icon-padding-negative) {

  @keyframes installing_animation_bottom_#{$icon-size} {

    0% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0), rgba($icon-installing-bg, 0);
    }

    5% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0.25), rgba($icon-installing-bg, 0);
    }

    10% {
      background: rgba($icon-installing-bg, 0.25);
      box-shadow: rgba($icon-installing-bg, 0.5) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    15% {
      background: rgba($icon-installing-bg, 0.5);
      box-shadow: rgba($icon-installing-bg, 0.75) $icon-padding-negative 0, rgba($icon-installing-bg, 0.25) $icon-padding 0;
    }

    20% {
      background: rgba($icon-installing-bg, 0.75);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 0.5) $icon-padding 0;
    }

    25% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 0.75) $icon-padding 0;
    }

    30% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 1) $icon-padding 0;
    }

    100% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 1) $icon-padding 0;
    }
  }

  animation: installing_animation_bottom_#{$icon-size} 3s ease-in-out infinite;
}

@mixin installing-animate-middle($icon-size, $icon-padding, $icon-padding-negative) {
  @keyframes installing_animation_middle_#{$icon-size} {
    0% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    30% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    35% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0.25) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    40% {
      background: rgba($icon-installing-bg, 0.25);
      box-shadow: rgba($icon-installing-bg, 0.5) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    45% {
      background: rgba($icon-installing-bg, 0.5);
      box-shadow: rgba($icon-installing-bg, 0.75) $icon-padding-negative 0, rgba($icon-installing-bg, 0.25) $icon-padding 0;
    }

    50% {
      background: rgba($icon-installing-bg, 0.75);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 0.5) $icon-padding 0;
    }

    55% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 0.75) $icon-padding 0;
    }

    60% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 1) $icon-padding 0;
    }

    100% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 1) $icon-padding 0;
    }
  }

  animation: installing_animation_middle_#{$icon-size} 3s ease-in-out infinite;
}

@mixin installing-animate-top($icon-size, $icon-padding, $icon-padding-negative) {
  @keyframes installing_animation_upper_#{$icon-size} {
    0% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    60% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    65% {
      background: rgba($icon-installing-bg, 0);
      box-shadow: rgba($icon-installing-bg, 0.25) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    70% {
      background: rgba($icon-installing-bg, 0.25);
      box-shadow: rgba($icon-installing-bg, 0.5) $icon-padding-negative 0, rgba($icon-installing-bg, 0) $icon-padding 0;
    }

    75% {
      background: rgba($icon-installing-bg, 0.5);
      box-shadow: rgba($icon-installing-bg, 0.75) $icon-padding-negative 0, rgba($icon-installing-bg, 0.25) $icon-padding 0;
    }

    80% {
      background: rgba($icon-installing-bg, 0.75);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 0.5) $icon-padding 0;
    }

    85% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 0.75) $icon-padding 0;
    }

    90% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 1) $icon-padding 0;
    }

    100% {
      background: rgba($icon-installing-bg, 1);
      box-shadow: rgba($icon-installing-bg, 1) $icon-padding-negative 0, rgba($icon-installing-bg, 1) $icon-padding 0;
    }
  }

  animation: installing_animation_upper_#{$icon-size} 3s ease-in-out infinite;
}

/* Shared */
.eos-icon-installing {
  display: inline-block;
  position: relative;

  &:before,
  &:after {
    background: rgba($icon-installing-bg, 0);
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }

  // Sizes
  &.md-24 {
    $icon-size: md-24;
    @include installing-animate-middle($icon-size, $icon-installing-padding, $icon-installing-padding-negative);
    background: rgba($icon-installing-bg, 0);
    box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative 0, rgba($icon-installing-bg, 0) $icon-installing-padding 0;
    height: $icon-installing-block;
    margin: $icon-installing-margin;
    width: $icon-installing-block;

    &:before,
    &:after {
      box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative 0, rgba($icon-installing-bg, 0) $icon-installing-padding 0;
      height: $icon-installing-block;
      width: $icon-installing-block;
    }

    // Bottom layer
    &:after {
      @include installing-animate-bottom($icon-size, $icon-installing-padding, $icon-installing-padding-negative);
      top: $icon-installing-padding;
    }

    // Upper layer
    &:before {
      @include installing-animate-top($icon-size, $icon-installing-padding, $icon-installing-padding-negative);
      top: $icon-installing-padding-negative;
    }
  }

  &.md-18 {
    @include installing-animate-middle($icon-size-18, $icon-installing-padding-18, $icon-installing-padding-negative-18);
    box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative-18 0, rgba($icon-installing-bg, 0) $icon-installing-padding-18 0;
    height: $icon-installing-block-18;
    margin: $icon-installing-margin-18;
    width: $icon-installing-block-18;

    &:before,
    &:after {
      box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative-18 0, rgba($icon-installing-bg, 0) $icon-installing-padding-18 0;
      height: $icon-installing-block-18;
      width: $icon-installing-block-18;
    }

    &:before {
      @include installing-animate-top($icon-size-18, $icon-installing-padding-18, $icon-installing-padding-negative-18);
      top: $icon-installing-padding-negative-18;
    }

    &:after {
      @include installing-animate-bottom($icon-size-18, $icon-installing-padding-18, $icon-installing-padding-negative-18);
      top: $icon-installing-padding-18;
    }
  }

  &.md-36 {
    @include installing-animate-middle($icon-size-36, $icon-installing-padding-36, $icon-installing-padding-negative-36);
    box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative-36 0, rgba($icon-installing-bg, 0) $icon-installing-padding-36 0;
    height: $icon-installing-block-36;
    margin: $icon-installing-margin-36;
    width: $icon-installing-block-36;

    &:before,
    &:after {
      box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative-36 0, rgba($icon-installing-bg, 0) $icon-installing-padding-36 0;
      height: $icon-installing-block-36;
      width: $icon-installing-block-36;
    }

    &:before {
      @include installing-animate-top($icon-size-36, $icon-installing-padding-36, $icon-installing-padding-negative-36);
      top: $icon-installing-padding-negative-36;
    }

    &:after {
      @include installing-animate-bottom($icon-size-36, $icon-installing-padding-36, $icon-installing-padding-negative-36);
      top: $icon-installing-padding-36;
    }
  }

  &.md-48 {
    @include installing-animate-middle($icon-size-48, $icon-installing-padding-48, $icon-installing-padding-negative-48);
    height: $icon-installing-block-48;
    margin: $icon-installing-margin-48;
    width: $icon-installing-block-48;

    &:before,
    &:after {
      box-shadow: rgba($icon-installing-bg, 0) $icon-installing-padding-negative-48 0, rgba($icon-installing-bg, 0) $icon-installing-padding-48 0;
      height: $icon-installing-block-48;
      width: $icon-installing-block-48;
    }

    &:before {
      @include installing-animate-top($icon-size-48, $icon-installing-padding-48, $icon-installing-padding-negative-48);
      top: $icon-installing-padding-negative-48;
    }

    &:after {
      @include installing-animate-bottom($icon-size-48, $icon-installing-padding-48, $icon-installing-padding-negative-48);
      top: $icon-installing-padding-48;
    }
  }
}
